@charset "UTF-8";

body {
    background-color: #D5BFF7;
    font-family: sans-serif;
    text-align: center;
    
}

h1 {
    font-size: large;
    font-weight: 100;
}

h2 {
    font-size: xx-large;
    font-weight: 900;
}

